// Typography

// Logo
%logo {
  @extend .icon-changalberto;
  text-decoration: none;
  color: $primary-red;

  &::before {
    font-weight: normal;
    font-size: 135px;
    line-height: 1;
  }
}

// Headers
h2,
h3,
h4,
h5 {
  margin: 0; // NOTE: Reset Defaults Purpose. Please do not set layout properties in this styleshee. Do that in main.css
  font-family: 'Cardo', serif;
}

h3 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-size: 72px;
  line-height: 0.90;
  font-weight: 200;
}

h5 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// Paragraphs
p {
  margin: 20px 0; // NOTE: Reset Defaults Purpose. Please do not set layout properties in this styleshee. Do that in main.css
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.45;

  &:last-child {
    margin-bottom: 0px;
  }
}

ul {
  padding: 0 20px;
  font-family: 'Cardo', serif;
  font-size: 17px;
  line-height: 1.15;

  > li {
    margin-bottom: 10px;
  }
}

address,
time {
  font-style: normal;;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

// Blurbs
blockquote {
  margin: 0; // NOTE: Reset Defaults Purpose. Please do not set layout properties in this styleshee. Do that in main.css
  font-family: 'Neuton', serif;
  font-weight: 200;
  font-size: 42px;
  line-height: 1.15;
  text-align: left;

  > em {
    color: $primary-red;
  }
}

.footer-links {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
